section#hero.section.section--hero
	h2.section__title.section__title--sr A quick summary of Sugar Moon Syrups are about
	.section__bg
		span.section__bg-astro
		span.section__bg-hero
		span.section__bg-clouds
	article.section__about
		figure.section__about-logo
			img.section__about-logo-file(src="https://api.hectordiaz.pro/sms/wp-content/uploads/sites/7/2022/10/sugar_moon_syrups_logo-removebg.png" alt="")
		.section__about-body
			h3.section__about-title 
				.section__about-title-name Sugar Moon Syrups
				.section__about-title-tagline When taste matters
			.section__about-article
				| Seasonal and single batch cocktail syrups crafted with local ingredients.
				.section__about-cta
					| Order a bottle to mix tonics that enchant. 
				include ../template/mixins.pug
				+ navbar
